<%- include('../../shared/includes/head', { pageTitle: 'Signup'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/scripts/password.icon.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1>Create New Account</h1>
        <% if(inputData.errorMessage){ %>
            <section class="alert">
                <h2>Invalid Input</h2>
                <p><%= inputData.errorMessage %></p>
            </section>
            <% } %> 
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%=inputData.email%>" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="8" maxlength="12" value="<%=inputData.password%>" required>
            <i class="fa-solid fa-eye" id="show-password"></i>
        </p>
        <p>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" minlength="8" maxlength="12" value="<%=inputData.confirmPassword%>" required>
            <i class="fa-solid fa-eye" id="show-confirmed-password"></i>
        </p>
        <hr>
        <p>
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" value="<%=inputData.fullname%>" required>
        </p>
        <p>
            <label for="street">Street</label>
            <input type="text" id="street" name="street" value="<%=inputData.street%>" required>
        </p>
        <p>
            <label for="postal">Postal Code</label>
            <input type="text" id="postal" name="postal" minlength="4" maxlength="4" value="<%=inputData.postal%>" required>
        </p>
        <p>
            <label for="city">City</label>
            <input type="text" id="city" name="city" value="<%=inputData.city%>" required>
        </p>
        <button class="btn">Create Account</button>
        <p>Already have an account?</p>
        <p id="existing-account"><a href="/login">Log In</a></p>
        </form>
    </main>
<%- include('../../shared/includes/footer') %> 